body{
    width: 100%;
}
.c6,
.c3,
.c1{
    margin: auto;
}
.i1{
    width: 380px;
    height: 380px;
}
.c2{
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.c3 li{
    margin: 0 50px;
}
.c3 li a{
    border-radius: 100px !important;
}
.c4{
    background-color: #679b92 !important;
}
main{
    width: 100%;
    height: 550px;
    background-color: rgb(200, 200, 200);
}
main h1{
    margin-top: 20px;
    background-color: white;
}
.box1{
    width: 250px;
    height: 250px;
    background: linear-gradient(to right, #f12711, #f5af19);
    border-style: solid;
    border-radius: 20px;
    margin: auto;
    margin: 20px 82px;
}
.div1{
    display: inline-block;
}
.img1{
    width: 50px;
    height: 50px;
}
.tex1{
    margin: auto;
}
.p1 p{
    font-size: 20px;
    letter-spacing: 2px;
}
@media only screen and (max-width: 1271px) and (min-width: 698px) {
    .box1{
        width: 200px;
        height: 200px;
        margin: 20px 42px;
    }
    .p1 p{
        font-size: 15px;
        letter-spacing: 2px;
    }
    .tex1{
        font-size: 30px;
    }
    main{
        height: 470px;
    }
    .i1{
        width: 310px;
        height: 310px;
    }
}

@media only screen and (max-width: 899px) {
    .box1{
        width: 170px;
        height: 170px;
        margin: 18px 12px;
    }
    .p1 p{
        font-size: 12px;
        letter-spacing: 2px;
    }
    .tex1{
        font-size: 23px;
    }
    main{
        height: 470px;
    }
    .i1{
        width: 310px;
        height: 310px;
    }
}

@media only screen and (max-width: 499px) and (min-width: 400px) {
    .box1{
        width: 120px;
        height: 170px;
        margin: 14px 8px;
    }
    .p1 p{
        font-size: 4px;
        letter-spacing: 1.5px;
    }
    .tex1{
        font-size: 20px;
    }
    main{
        height: 470px;
    }
    .i1{
        width: 300px;
        height: 300px;
    }
    .btn{
        padding:.70rem 1.0rem;
    }
}

@media only screen and (max-width: 399px) and (min-width: 200px) {
    .box1{
        width: 100px;
        height: 170px;
        margin: 10px 5px;
    }
    .p1 p{
        font-size: 4px;
        letter-spacing: 1px;
    }
    .tex1{
        font-size: 19.2px;
    }
    main{
        height: 470px;
    }
    .i1{
        width: 300px;
        height: 300px;
    }
    .btn{
        padding:.60rem 0.4rem;
    }
}

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-31 17:33:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-31 17:39:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
