body{
    width: 100%;
}
.c6,
.c3,
.c1{
    margin: auto;
}
.i1{
    width: 380px;
    height: 380px;
}
.c2{
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.c3 li{
    margin: 0 50px;
}
.c3 li a{
    border-radius: 100px !important;
}
.c4{
    background-color: #679b92 !important;
}
main{
    width: 100%;
    height: 550px;
    background-color: rgb(200, 200, 200);
}
main h1{
    margin-top: 20px;
    background-color: white;
}
.box1{
    width: 250px;
    height: 250px;
    background: linear-gradient(to right, #f12711, #f5af19);
    border-style: solid;
    border-radius: 20px;
    margin: auto;
    margin: 20px 82px;
}
.div1{
    display: inline-block;
}
.img1{
    width: 50px;
    height: 50px;
}
.tex1{
    margin: auto;
}
.p1 p{
    font-size: 20px;
    letter-spacing: 2px;
}
main{
    padding-top: 10px;
    height: 500px;
}

@media only screen and (max-width: 987px){
    
    .i1{
        width: 310px;
        height: 310px;
    }
}